.mycal{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: grey;
}
.all-btn
{
    display:flex;
}
.all-btn-num{
    display: flex;
    flex-direction: row;
    width: 220px;
    flex-wrap: wrap;
}
.all-btn-sign{
    display: flex;
    flex-direction: column;
}
.btn-clear{
    display: flex;
    flex-direction: row;
}
.btn-extra{
    display: flex;
    flex-direction: row;
}

.all-btn-num button{
    background-color: white;
    border: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    width:50px;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.all-btn-sign button{
    background-color: black;
    border: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-clear button{
    background-color: black;
    border: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-extra button{
    border:none;
    background-color: darkslategrey;
    color: white;
}
.btn-clear button{
    width:110px;
    font-size: 30px;
    padding:10px;
    margin:10px 5px;
    border-radius:10px;
    border: none;
    justify-content: space-evenly;
    background-color: yellowgreen;
    color:white;
}
.all-btn-num button:hover{
    cursor: pointer;
}
.btn-clear button:hover{
    cursor: pointer;
}
.all-btn-sign button:hover{
    cursor: pointer;
}
input:focus{
    outline: none;
    border:1px solid black;
}