<h3 style="text-align: center;">ROUTING DEMO</h3>
<br> <br>
<nav>
<a routerLink="" routerLinkActive="active"> Home </a> &nbsp;
<a routerLink="/department" routerLinkActive="active"> Department </a> &nbsp;
<a routerLink="/employee" routerLinkActive="active"> Employee </a> &nbsp;
<a routerLink="/calculator" routerLinkActive="active"> Calculator </a> &nbsp;
<a routerLink="/currencyconvertor" routerLinkActive="active"> Currencyconvertor </a> &nbsp;
<a routerLink="/date" routerLinkActive="active"> Date </a> &nbsp;
<a routerLink="/dropdown" routerLinkActive="active"> Dropdown </a> &nbsp;
<a routerLink="/addition" routerLinkActive="active"> Addition </a> &nbsp;
<a routerLink="/form" routerLinkActive="active"> Form </a> &nbsp;
</nav>
<router-outlet></router-outlet>
